# Copia este fichero a .env y ajusta los valores
DJANGO_ENV=dev
DJANGO_SECRET_KEY=cambia-esto-en-produccion-genera-uno-con-python-m-secrets
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DB_PATH=/app/data/db.sqlite3
MEDIA_ROOT=/app/media
